


<main>

    <div class="row mt-80">
      <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
        <div class="section__title-wrapper text-center mb-25">
          <h2 class="section__title">Reset Password </h2>
            
        </div>
      </div>
    </div>
    
      <!-- sign up area start -->
      <section class="signup__area p-relative z-index-1 pb-145">
    
        <div class="container">
    
          <div class="row">
            <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
              <div class="sign__wrapper white-bg">
    
    
                <div class="sign__form">
                  <form [formGroup]="ResetPasswordForm">                    
                    <ng-template #popTemplate>
                      <div class="text-left" *ngIf="fields_ResetPassword_form['password'].errors || disPlayErrors">
    
                        <span
                          *ngIf="(fields_ResetPassword_form['password'].touched && fields_ResetPassword_form['password'].invalid) || (fields_ResetPassword_form['password'].touched && fields_ResetPassword_form['password'].errors?.['pattern']) || disPlayErrors "
                          class="error-msg">
                          <span>
                            <strong class="text-header text-dark">Your password must include :</strong>
                          </span>
    
                          <br>
    
                          <span
                            [ngClass]="ResetPasswordForm.get('password')?.hasError('hasCapitalCase') || ResetPasswordForm.get('password')?.hasError('required') ? 'text-dark' : 'text-success'">
    
                            1
                            Uppercase letter
                          </span>
                          <br>
                          <span
                            [ngClass]="ResetPasswordForm.get('password')?.hasError('hasSmallCase') || ResetPasswordForm.get('password')?.hasError('required') ? 'text-dark' : 'text-success'">
    
                            1 Lowercase letter
                          </span>
                          <br>
                          <span
                            [ngClass]="ResetPasswordForm.get('password')?.hasError('hasNumber') || ResetPasswordForm.get('password')?.hasError('required') ? 'text-dark' : 'text-success'">
    
                            1 digit
                          </span>
                          <br>
                          <span
                            [ngClass]="ResetPasswordForm.get('password')?.hasError('hasSpecialCharacters') || ResetPasswordForm.get('password')?.hasError('required') ? 'text-dark' : 'text-success'">
    
                            1 special character
                          </span>
                          <br>
                          <span
                            [ngClass]="ResetPasswordForm.get('password')?.hasError('minlength') || ResetPasswordForm.get('password')?.hasError('required') ? 'text-dark' : 'text-success'">
    
                            Minimum of 8 character length
                          </span>
    
                        </span>
    
                      </div>
                    </ng-template>
    
                    <div class="sign__input-wrapper mb-25">
                      <h5>Password</h5>
                      <div class="sign__input">
                        <span id="eye-show" *ngIf="show_button" (click)="showPassword()">Hide</span>
                          <span id="eye-hide" *ngIf="!show_button" (click)="showPassword()">Show</span>
                        <!-- <i id="eye-show" *ngIf="show_button" class="far fa-eye" (click)="showPassword()"></i>
                        <i id="eye-hide" *ngIf="!show_button" class="far fa-eye-slash" (click)="showPassword()"></i> -->
    
                        <input [type]="show_button ? 'text' : 'password'" name="password"
                          (change)="onPasswordChange()" [popover]="popTemplate" triggers="focus" placement="top"
                          (focus)="disPlayErrors=true" (focusout)="disPlayErrors=false" placeholder="password"
                          formControlName="password"
                          [ngClass]="{ 'error':fields_ResetPassword_form['password'].touched && fields_ResetPassword_form['password'].invalid, 'success':fields_ResetPassword_form['password'].touched && fields_ResetPassword_form['password'].valid }">
    
                      </div>
                      <div class="text-left error-container" *ngIf="fields_ResetPassword_form['password'].errors || disPlayErrors">
                        <small *ngIf="fields_ResetPassword_form['password'].touched && fields_ResetPassword_form['password'].invalid"
                          class="error-msg">
                          <span *ngIf="fields_ResetPassword_form['password'].errors?.['required']">password is mandatory</span>
                        </small>
                        <small class="error-msg">
                          <span
                            *ngIf="(ResetPasswordForm.get('password')?.hasError('hasCapitalCase') || ResetPasswordForm.get('password')?.hasError('hasSmallCase') || ResetPasswordForm.get('password')?.hasError('hasNumber') || ResetPasswordForm.get('password')?.hasError('hasSpecialCharacters') || ResetPasswordForm.get('password')?.hasError('minlength')) && fields_ResetPassword_form['password'].touched">
                            your password is incorrect
                          </span>
                        </small>
                      </div>
                    </div>
                    <div class="sign__input-wrapper mb-20">
                      <h5>confirm password</h5>
                      <div class="sign__input">
                        <input type="password"  [ngClass]="{ 'error':fields_ResetPassword_form['confirmPassword'].touched && fields_ResetPassword_form['confirmPassword'].hasError('mismatch') ,'success':fields_ResetPassword_form['confirmPassword'].touched && !fields_ResetPassword_form['confirmPassword'].hasError('mismatch') }"  (change)="onPasswordChange()" placeholder="confirm password" formControlName="confirmPassword">
    
    
                      </div>
                      <span class="error-msg" *ngIf="fields_ResetPassword_form['confirmPassword'].hasError('mismatch')">passwords does not match</span>
                    </div>
                    <button class="tp-btn w-100" [disabled]="ResetPasswordForm.invalid " (click)="resetPassword()"> <span></span> Reset Password</button>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- sign up area end -->
    
    
    </main>
    