

<main>
  <!-- sign up area start -->
  <div class="row mt-80">
    <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
      <div class="section__title-wrapper text-center mb-25">
        <h2 class="section__title">Sign in </h2>
        <p>Please fill in this form to login to your account!</p>
      </div>
    </div>
  </div>
  <section class="signup__area p-relative z-index-1 pt-12 pb-145">

    <div class="container">
      <div class="row">
        <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
          <div class="sign__wrapper white-bg">
            <div class="sign__form mt-2">
              <form [formGroup]="signInForm">
                <div class="sign__input-wrapper mb-25">
                  <h5>Username</h5>
                  <div class="sign__input">
                    <input type="text" placeholder="Username" formControlName="username">
                  </div>
                </div>
                <div class="sign__input-wrapper mb-10">
                  <h5>Password</h5>
                  <div class="sign__input">
                    <input type="password" placeholder="Password" formControlName="password">
                  </div>
                </div>
                <div class="sign__action d-sm-flex justify-content-between mb-30">
                  <div class="sign__agree d-flex align-items-center">
                  </div>
                </div>
                <button class="tp-btn  w-100" [disabled]="signInForm.invalid" (click)="signIn()"> <span></span> sign-in</button>
                <div class="sign__new text-center mt-20">
                  <p>Do not have an account ? <a routerLink="/sign-up">Create an account</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- sign up area end -->


</main>

