<section class="teacher__area pt-120 pb-110">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12">
        <div class="teacher__wrapper">
          <div class="teacher__top d-md-flex align-items-end justify-content-between">
            <div class="teacher__info">
              <h4>Anvesh Reddy Anugu</h4>
            </div>

          </div>
          <div class="teacher__bio">
            <h3>Short Bio</h3>
            <p>I grew up in the Nizambad and graduated from Holy Meri Institute of Technology at Nizambad. I am
            a Pega developer. Pega is a Business Process Management tool that enables us to quickly build end to end applications. I
            can design and deploy enterprise-level applications on Pega PRPC(Pega Rules Process Commander).The application enables
            Cisco’s strategy to transform customer service experience to drive higher customer statisfaction & efficiency across
            operations. The scope of this program is to enable systematic data integration with various Cisco systems to enable
            overall automatic and improve average handle time for service requests.
            I am responsible for integrating business databases, legacy systems, and web services. I can also take care of
            Troubleshooting application issues, fixing bugs, and bottlenecks. And also conducting system performance tests and
            maintaining the security of all system applications. I worked at Mudra Soft Technologies as Application Pega Developer,
            Hyderabad in July 2016</p>
          </div>

        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12">
          <div class="teacher__wrapper">
            <div class="teacher__top d-md-flex align-items-end justify-content-between">
              <div class="teacher__info">
                <h4>Prashanthreddy sunku</h4>
              </div>

            </div>
            <div class="teacher__bio">
              <h3>Short Bio</h3>
              <p>I am a graduate student at Marist. The driving force for me to pursue the Master of
              Science in Computer Science is the evolution of programming languages, which are capable of inventing new technologies,
              and a strong desire to be a part of that, especially with a focus on research related to Programming, Databases, and
              Analytics. My passion for Computer Science is majorly a result of my graduation education and my job experience in the
              Information Technology field. I have gained valuable experience in multiple platforms like Databases, CI/CD, Scripting
              languages like Perl and Python, Unix shell scripting Web Services, Mobile Applications, Quality Assurance, and
              Functional knowledge across various domains. With the technical and domain experiences, now I want to fortify my skill
              set by pursuing a master's degree that would enhance my skills technically and add business skills to flourish in the
              Information Technology field.</p>
            </div>

          </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12">
          <div class="teacher__wrapper">
            <div class="teacher__top d-md-flex align-items-end justify-content-between">
              <div class="teacher__info">
                <h4>Sai Sumanth reddy</h4>
              </div>

            </div>
            <div class="teacher__bio">
              <h3>Short Bio</h3>
              <p> I am currently pursuing my masters in Computer science at Marist College.
              I have completed my Bachelors from Bharath University with a degree in computer science.
              My interests are reading books and playing cricket.
              I have worked in couple of roles as a web developer and word press content developer.
              I am currently developing the backend for this website using Node Js.</p>
            </div>

          </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12">
          <div class="teacher__wrapper">
            <div class="teacher__top d-md-flex align-items-end justify-content-between">
              <div class="teacher__info">
                <h4>Deeshma Poreddy</h4>
              </div>

            </div>


          </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12">
          <div class="teacher__wrapper">
            <div class="teacher__top d-md-flex align-items-end justify-content-between">
              <div class="teacher__info">
                <h4>Vijay Peddireddy</h4>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
