





  <!-- offcanvas area start -->
  <div class="offcanvas__area">
    <div class="modal" id="offcanvasmodal" tabindex="-1" aria-labelledby="offcanvasmodal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
              <div class="offcanvas__top mb-40 d-flex justify-content-between align-items-center">
                <div class="offcanvas__logo logo">
                  <a href="index.html">
                    <!-- <img src="assets/img/logo/logo.png" alt="logo"> -->
                  </a>
                </div>
                <div class="offcanvas__close">
                  <button class="offcanvas__close-btn" data-bs-toggle="modal" data-bs-target="#offcanvasmodal">
                    <i class="fal fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="offcanvas__search mb-25">
                <form action="#">
                  <input type="text" placeholder="What are you searching for?">
                  <button type="submit"><i class="far fa-search"></i></button>
                </form>
              </div>
              <div class="mobile-menu fix"></div>
              <div class="offcanvas__text d-none d-lg-block">
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                  born and will give you a complete account of the system and expound the actual teachings of the great
                  explore</p>
              </div>
              <div class="offcanvas__map d-none d-lg-block mb-15">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d29176.030811137334!2d90.3883827!3d23.924917699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1605272373598!5m2!1sen!2sbd"></iframe>
              </div>
              <div class="offcanvas__contact mt-30 mb-20">
                <h4>Contact Info</h4>
                <ul>
                  <li class="d-flex align-items-center">
                    <div class="offcanvas__contact-icon mr-15">
                      <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="offcanvas__contact-text">
                      <a target="_blank"
                        href="https://www.google.com/maps/place/Dhaka/@23.7806207,90.3492859,12z/data=!3m1!4b1!4m5!3m4!1s0x3755b8b087026b81:0x8fa563bbdd5904c2!8m2!3d23.8104753!4d90.4119873">12/A,
                        Mirnada City Tower, NYC</a>
                    </div>
                  </li>
                  <li class="d-flex align-items-center">
                    <div class="offcanvas__contact-icon mr-15">
                      <i class="far fa-phone"></i>
                    </div>
                    <div class="offcanvas__contact-text">
                      <a href="mailto:support@gmail.com">088889797697</a>
                    </div>
                  </li>
                  <li class="d-flex align-items-center">
                    <div class="offcanvas__contact-icon mr-15">
                      <i class="fal fa-envelope"></i>
                    </div>
                    <div class="offcanvas__contact-text">
                      <a href="tel:+012-345-6789">support@mail.com</a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="offcanvas__social">
                <ul>
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body-overlay"></div>

  <main>

    <section class="profile__area pt-50 pb-50 grey-bg-2">
      <div class="container">
        <div class="profile__basic-inner pb-20 white-bg">
          <div class="row align-items-center">
            <div class="col-xxl-6 col-md-6">
              <div class="profile__basic d-md-flex align-items-center">
                <div class="profile__basic-thumb mr-30">
                  <img src="https://gravatar.com/avatar/420b3334010e205ff40748d07fb4ccf2?s=400&d=robohash&r=x" alt="">
                </div>
                <div class="profile__basic-content">
                  <h3 class="profile__basic-title">
                    Welcome <span>{{user?.firstName}}</span>
                  </h3>
                  <!-- <p>2 Running Courses <a href="my-course.html">View Course</a></p> -->
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-md-6">
              <div class="profile__basic-cart d-flex align-items-center justify-content-md-end">
                <div class="cart-info mr-10">
                </div>
                <div class="cart-item">
                  <!-- <a href="cart.html">
                    <i class="fa-regular fa-basket-shopping"></i>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="profile__menu pb-70 grey-bg-2">
      <div class="container">
        <div class="row">
          <div class="col-xxl-4 col-md-4">
            <div class="profile__menu-left white-bg mb-50">
              <div class="profile__menu-tab">
                <div class="nav nav-tabs flex-column justify-content-start text-start" id="nav-tab" role="tablist">
                  <button class="nav-link" id="nav-password-tab" data-bs-toggle="tab" data-bs-target="#nav-password"
                    type="button" role="tab" aria-controls="nav-password" aria-selected="false"><i
                      class="fa-regular fa-lock"></i>Translation</button>
                  <button class="nav-link active" id="nav-account-tab" data-bs-toggle="tab"
                    data-bs-target="#nav-account" type="button" role="tab" aria-controls="nav-account"
                    aria-selected="true"> <i class="fa-regular fa-user-large"></i> My Account</button>

                  <button class="nav-link" routerLink="/sign-in"><i class="fa-regular fa-arrow-right-from-bracket"></i> Logout</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-8 col-md-8">
            <div class="profile__menu-right">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane  show active" id="nav-account" role="tabpanel"
                  aria-labelledby="nav-account-tab">
                  <div class="profile__info">

                    <div class="profile__info-top d-flex justify-content-between align-items-center">
                      <h3 class="profile__info-title">My details</h3>
                      <button class="profile__info-btn" type="button" data-bs-toggle="modal"
                        data-bs-target="#profile_edit_modal"><i class="fa-regular fa-pen-to-square"></i> Change</button>
                    </div>

                    <div class="profile__info-wrapper white-bg">
                      <div class="profile__info-item">
                        <p>lastName</p>
                        <h4>{{user?.lastName}}</h4>
                      </div>
                      <div class="profile__info-item">
                        <p>firstName</p>
                        <h4>{{user?.firstName}}</h4>
                      </div>
                      <div class="profile__info-item">
                        <p>Email</p>
                        <h4>{{user?.email}}</h4>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                  <div class="row">
                    <div class="col-6">
                      <select class="form-select" aria-label="Default select example" (change)="Change($event, 'from')">
                        <option selected>select</option>
                        <option *ngFor="let lang of fromLanguagesList" value="{{lang?.code}}">{{lang?.language}}</option>
                      </select>
                      <textarea class="form-control mt-1" name="translate" id="" cols="" rows="2" #text></textarea>
                    </div>
                    <div class="col-6">
                            <select class="form-select" aria-label="Default select example" (change)="Change($event, 'to')">
                              <option selected>select</option>
                              <option *ngFor="let lang of toLanguagesList" value="{{lang?.code}}">{{lang?.language}}</option>
                            </select>
                        <textarea class="form-control mt-1" [(ngModel)]='translatedText' [ngModelOptions]="{standalone:true}"  name="translate" id="" cols="" rows="2"></textarea>
                    </div>

                  </div>
                    <button class="btn btn-primary" type="button" (click)="translate(text)">Translate</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- profile menu area end -->

    <div class="profile__edit-modal">
      <!-- Modal -->
      <div class="modal" id="profile_edit_modal" tabindex="-1" aria-labelledby="profile_edit_modal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="profile__edit-wrapper">
              <div class="profile__edit-close">
                <button type="button" class="profile__edit-close-btn" data-bs-toggle="modal"
                  data-bs-target="#course_enroll_modal"><i class="fa-light fa-xmark"></i></button>
              </div>
              <form  [formGroup]="userUpdateForm">
                <div class="profile__edit-input">
                  <p>lastName</p>
                  <input type="text" placeholder="Last Name" formControlName="lastName">
                </div>
                <div class="profile__edit-input">
                  <p>firstName</p>
                  <input type="text" placeholder="First Name" formControlName="firstName">
                </div>
                <div class="profile__edit-input">
                  <p>Email</p>
                  <input type="text" placeholder="Your Email"  formControlName="email">
                </div>

                <div class="profile__edit-input">
                  <button type="submit" class="tp-btn w-100" [disabled]="userUpdateForm.invalid"  data-bs-toggle="modal" (click)="updateUserInfo()">update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



  </main>

