.error {
  border-color: #ff0000 !important;
}

.success {
  border-color: #72c293 !important;
}

.error-msg {
  color: #ff0000 !important;
  left: 14px !important;
  font-size: 12px !important;
  width: 100% !important;
  text-align: left;
}
.sign__input #eye-hide {
  position: absolute !important;
    left: 88% !important;
    top: 29% !important;
  cursor: pointer !important;
}

.sign__input #eye-show {
 position: absolute !important;
    left: 88% !important;
    top: 29% !important;
  cursor: pointer !important;
}
button:disabled{
  opacity: 0.5;
  pointer-events: none;
}

.sign__input  input{
padding: 0 20px !important;
}
