<div class="container mt-40">
  <div class="row align-items-center">
    <div class="col-xxl-6 col-lg-6">
      <div class="slider__content-2 mt-30">
        <span>Language Translation Application</span>
        <h4 class="slider__title-3 text-secondary">Use the app to translate from any to any language</h4>
        <p>The best translator with powerful library of languages to get your journey started with multiple features.</p>
        <a routerLink="/translation" class="tp-btn-green mb-15">Explore Translator</a>
      </div>
    </div>
    <div class="col-xxl-6 col-lg-6">
      <div class="slider__thumb-2 p-relative">
        <span>
          <img src="https://www.lingualinx.com/hubfs/language%20translator%20job%20%281%29.jpg" class="img-fluid" alt="">
        </span>
      </div>
    </div>
  </div>
</div>
